[submodule "extern/SDL"]
	path = extern/SDL
	url = git@github.com:libsdl-org/SDL.git
[submodule "SDL3_gfx"]
	path = SDL3_gfx
	url = https://github.com/sabdul-khabir/SDL3_gfx.git
[submodule "extern/SDL3_gfx"]
	path = extern/SDL3_gfx
	url = https://github.com/sabdul-khabir/SDL3_gfx.git
[submodule "extern/glm"]
	path = extern/glm
	url = git@github.com:g-truc/glm.git
[submodule "extern/PerlinNoise"]
	path = extern/PerlinNoise
	url = https://github.com/Reputeless/PerlinNoise.git
